doctype html
html(lang="en")
  head
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='../css/main.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js')
    title #{pageTitle} ##{gameID}
  body
    div.container
      if gameID === undefined
        h1 Invalid game
      else
        h1 This is game id #{gameID}
        canvas#game_canvas(width='520', height='520')
        button#temp Make Move

    script(src='//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js')
    script(src='../js/chess.js')
    script.
      var b = new Board('game_canvas');
      b.draw();

      var c = document.getElementById('game_canvas');
      c.addEventListener('click', clickChessBoard, false);

      function clickChessBoard(event) {
        var coords = c.relMouseCoords(event);
        b.click(coords.x, coords.y);
        b.draw();
      }

      $('#temp').on('click', function(event) {
        console.log('temp button pressed');
      });

